# Local files
.DS_Store
*.log
secrets.env

# Generated data and output
data/pulled/
data/generated/
data/generated/tone
data/generated/10k_texts_full/
data/generated/10k_texts/
data/pulled/sec_filings/

output/
*.html
*.htm
*.tmp

# Python cache
__pycache__/
*.py[cod]

# DuckDB temporary files
data/generated/duckdb_temp/
*.tmp
*.wal

# Big files which have download links
data/external/cik_to_permno.csv
data/external/cik_to_permno.csv.gz
data/external/ret_all.csv
data/external/ret_all.csv.gz

# R / Quarto
.Rproj.user
.Rhistory
.quarto
/.vscode
/.quarto/
