# Local files
.DS_Store
*.log
secrets.env

# Generated data and output
data/pulled/
data/generated/
output/

# Big files which have download links
data/external/cik_to_permno.csv
data/external/cik_to_permno.csv.gz

# R / Quarto
.Rproj.user
.Rhistory
.quarto
/.vscode
/.quarto/
